
[Unit]
Description=ss-tunnel service
After=network.target kcp.service ss-redir.service

[Service]
Type=simple
User=root
EnvironmentFile=/etc/default/gfwservice
ExecStart=/usr/local/bin/ss-tunnel $SSTUNNELOPTS

Restart=on-failure
RestartSec=10
KillMode=process
# saving a big db on slow disks may need some time
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
