执行以下指令然后：
iptables-save > /etc/iptables/rules.v4
为了防止重启后iptables清零。需要在/etc/network/if-pre.up/iptables脚本中增加
iptables-restore < /etc/

# 对于远程连接，先默认允许所有 INPUT 流量
iptables -P INPUT ACCEPT

# 清空所有现有规则且置零计数器
iptables -F
iptables -X
iptables -Z

# 由于作为网关使用，默认允许所有的 FORWARD 流量
iptables -P FORWARD ACCEPT

# 默认允许所有的 OUTPUT 流量
iptables -P OUTPUT ACCEPT

# dst-nat 表中标记本地流量
# （注意：请根据自身情况设置）
iptables -t nat -A POSTROUTING -s 192.168.0.0/24 -j MASQUERADE
